@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: bisque;
}

.ulProductos a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.ulProductos a:hover {
    color: brown;
}

.ulProductos {
    list-style-type: none;
    margin: auto;
}

.ulCarrito {
    margin: 0 !important;
    padding-right: 20px;
    list-style: none;
}

.ulHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img--inicio {
    text-align: center;
    height: 100vh;
}

.navbar-collapse ul {
    margin: auto;
}

#btnCarrito,
#btnBuscar {
    background: #fcb6818c;
    border-color: #12121275;
}

#btnCarrito:hover,
#btnBuscar:hover {
    background: #FCB681;
    border-color: #121212;
}

#btnCarrito i {
    color: #121212;
}

#btnGuardarPostre,
#verProductos,
#ocultarProductos,
.btnCerrar {
    background-color: #fcb681ad;
    border-color: #FCB681;
}

#btnGuardarPostre:hover,
#verProductos:hover,
#ocultarProductos:hover,
.btnCerrar:hover {
    background-color: bisque;
    border-color: #fcb681ad;
}

.btnAgregar,
#botonFinalizarCompra {
    background-color: #FCB681;
    border-color: #12121275;
}

.btnAgregar:hover,
#botonFinalizarCompra:hover {
    background-color: bisque;
    border-color: #FCB681;
}

.btnMyO{
    padding: 40px 0;
}

.btnMyO .row{
    justify-content: center;
}

.btnMyO .row .col-3{
    text-align: center;
}

#productos{
    background-color: bisque;
    height: 80px;
    border-radius: 10px;
    border: #fcb681ad 1px solid;
    width: 60vw;
    margin: auto;
}

.section--form{
    margin-bottom: 80px;
}

.section--form form{
    margin: auto;
}

.modal-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.modal-body div{
    margin-bottom: 20px;
}

#precioFinal{
    text-align: center;
    font-size: 20px;
}


/* FOOTER */
footer {
    background-color: #FCB681;
}

footer p {
    text-align: center;
    font-size: 16px;
    padding: 10px;
    color: black;
    margin-bottom: 0;
}

@media only screen and (min-width: 950px) and (max-width: 1330px) {
    .img--inicio img {
        width: 100vw;
    }
}